matplotlib==2.2.0
tensorflow==1.15.2
numpy==1.18.1
numba==0.48.0
inflect==0.2.5
librosa==0.6.0
scipy==1.4.1
Unidecode==1.0.22
pandas==0.23.4
torch==1.5.0
torchaudio==0.5.0
torchvision==0.2.1 
torchtext==0.5.0
pillow
